@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* CSS VARS */
:root { 
    /* Colors should follow WWU brand guidelines - for reference search up wwu design guidelines */
    --wwu-blue: #007ac8;
    --wwu-dark-blue: #003f87;
    --wwu-light-gray: #e3e7e9;
    --wwu-black: #1c2023;
}

html { 
    font-size: 16px;
    font-family: Lato;
}

body { 
    font-family: Lato;
}

.return a { 
    display: flex;
    padding: 50px;
}

.return a:hover { 
    text-decoration: none;
}

.return h3 { 
    font-weight: 900;
    font-size: 1.75em;
    color: var(--wwu-blue);
}

i { 
    font-size: 1.75em;
    padding-right: 10px;
    color: var(--wwu-blue);
}

.gallery { 
    min-height: 70vh;
    background-color: var(--wwu-light-gray);
    padding: 50px 100px;
}

.gallery h1 { 
    font-size: 5.5em;
    font-weight: 900;
    color: var(--wwu-blue);
}

.return { 
    background-color: var(--wwu-black);
}

.thumbnail { 
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.gallery-grid img { 
    height: 350px;
    width: 350px;
    overflow: hidden;
}

.gallery-grid { 
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


/* FOOTER */

footer { 
    background-color: var(--wwu-black);
    color: white;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

footer p { 
    padding: 30px 0;
    font-size: 1.5em;
}

footer h3 { 
    color: var(--wwu-blue);
    font-weight: 900;
    font-size: 3em;
}

.social-wrapper i:hover { 
    color: var(--wwu-blue);
}

.fab { 
    color: white;
    font-size: 3em;
    padding: 0 25px;
}

footer h5 { 
    font-size: 2em;
    color: white;
    padding-left: 25px;
}

.social-wrapper { 
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1300px) { 
    .gallery-grid { 
        padding: 50px; 
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}


@media only screen and (max-width: 900px) { 
    .gallery { 
        min-height: 70vh;
        background-color: var(--wwu-light-gray);
        padding: 50px 20px;
    }

    .gallery h1 { 
        font-size: 3.75em;
        font-weight: 900;
        color: var(--wwu-blue);
    }

    .gallery-grid { 
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-grid img { 
        height: 150px;
        width: 150px;
    }

    footer { 
        padding: 50px;
    }

    footer p { 
        font-size: 1.25em;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .fab { 
        padding: 20px;
    }

    footer h5 { 
        padding-left: 0;
    }

    .social-wrapper { 
        display: block;
    }

}


