@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* CSS VARS */
:root { 
  /* Colors follow WWU brand guidelines - for reference search up wwu design guidelines */
  --wwu-blue: #007ac8;
  --wwu-dark-blue: #003f87;
  --wwu-light-gray: #e3e7e9;
  --wwu-black: #1c2023;
}

html { 
  font-size: 16px;
  font-family: Lato;
}

body { 
  font-family: Lato;
}

/* HEADER */

nav a { 
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
}

nav { 
  background-color: black;
}

header { 
  height: 100vh;
  width: 100%;
  background-image: url("img/background.jpg");
  background-position: center;
  background-size: cover;
}

.header-content { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content h1 { 
  text-align: center;
  font-size: 9em;
  font-family: Lato;
  font-weight: 900;;
}

.header-content #header-acm { 
  color: var(--wwu-dark-blue);
}

.header-content #header-wwu { 
  color: var(--wwu-blue);
}

.header-content #header-x { 
  color: white;
  font-size: .5em;
  font-weight: 300;
}

.header-content .subtext { 
  text-align: center;
}

.header-content p { 
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 3em;
}

.button-dark { 
  background-color: var(--wwu-dark-blue);
  color: white !important;
  padding: 10px 50px;
  text-align: center;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.button-dark a { 
  text-decoration: none;
  color: white;
}

.button-dark a:hover {
  color: white;
}

.header-content a:hover { 
  text-decoration: none;
}

/* WHAT WE DO */

.what-we-do-heading h3 { 
  font-weight: 900;
  background-color: var(--wwu-light-gray);
  font-size: 2.75em;
  text-align: center;
  padding: 50px;
  margin: 0;
}

.wrapper-three { 
  display: flex;
  flex-direction: row;
  background-color: var(--wwu-light-gray);
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 90px;
}

.wrapper-three i { 
  font-size: 4em;
  padding-bottom: .5em;
}

.wrapper-three > div { 
  padding: 0px 90px;
}

.wrapper-three h4 { 
  font-size: 2.5em;
  font-weight: 900;
  padding-bottom: .5em;
  color: var(--wwu-dark-blue);
}

.wrapper-three p { 
  font-size: 1.25em;
}

/* QUOTES */

.quote { 
  background-color: var(--wwu-dark-blue);
  display: flex;
  flex-direction: row-reverse;
}

.quote-text { 
  position:relative;
}

.quote p { 
  padding: 100px;
  padding-top:150px;
  padding-left: 150px;
  color: white;
  font-size: 1.75em;
  text-align: center;
}

.quote-text p::before { 
  content: "\"";
  position: absolute;
  top: -10px;
  left: 70px;
  font-size: 10em;
  color: var(--wwu-blue);
}

/* EVENTS */

.events { 
  background-color: var(--wwu-black);
  padding: 100px;
  font-size: 1.25em;
}

.events hr { 
  color: white;
}

.events h2 { 
  color: var(--wwu-blue);
  font-weight: 900;
  font-size: 5.5em;
}

.events h3, h4 { 
  color: var(--wwu-blue);
}

.events h3 { 
  font-weight: 900;
  font-size: 3em;
}

.events h4 { 
  font-weight: 700;
  font-size: 1.75em;
}

.events p { 
  color: white;
}

.events-blurb { 
  font-size: 1.5em;
}

.wrapper-two { 
  display: flex;
  flex-direction: row;
}

.wrapper-two > div { 
  padding-right: 100px;
}

.event { 
  padding: 25px 0;
}

hr { 
  border-bottom: 3px solid lightgray; 
}

/* PAST EVENTS */

.past-events { 
  display: flex;
  flex-direction: row;
  background-color: var(--wwu-dark-blue);
  color:white;
}

.past-events-wrapper h2 { 
  color: var(--wwu-blue);
  font-weight: 900;
  font-size: 3em;
}

.past-events p { 
  font-size: 1.5em;
}

.button-light { 
  background-color: var(--wwu-blue);
  color: white;
  text-align: center;
  padding: 10px 50px;
  font-size: 1.25em;
}

.past-events-wrapper { 
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 150px;
}

.past-events a { 
  text-decoration: none;
}

.past-events a:hover { 
  text-decoration: none;
  color: white;
}

/* FOOTER */

footer { 
  background-color: var(--wwu-black);
  color: white;
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

footer p { 
  padding: 30px 0;
  font-size: 1.5em;
}

footer h3 { 
  color: var(--wwu-blue);
  font-weight: 900;
  font-size: 3em;
}

.social-wrapper i:hover { 
  color: var(--wwu-blue);
}

.fab { 
  color: white;
  font-size: 3em;
  padding: 0 25px;
}

footer h5 { 
  font-size: 2em;
  color: white;
  padding-left: 25px;
}

.social-wrapper { 
  display: flex;
  flex-direction: row;
}

/* Fix weird shit */
@media only screen and (max-width: 1233px) { 

  .quote { 
    display: none;
  }

  .past-events { 
    display: none;
  }

  .wrapper-three > div { 
    padding: 0px 30px;
  }

  .wrapper-two { 
    display: block;
  }

}



@media only screen and (max-width: 800px){
  nav { 
    display: none;
  }

  .header-content h1 { 
    font-size: 5.75em;
    padding-top: 50px;
  }

  .header-content p { 
    font-size: 1em;
  }

  .wrapper-three > div { 
    padding: 0px 69px; /* nice */
  }

  .button-dark { 
    font-size: 1em;
    padding: 10px 30px;
    width: 170px;
  }

  .quote { 
    display: none;
  }

  .wrapper-three { 
    display: block;
  }

  .wrapper-two { 
    display: block;
  }

  .events h2 { 
    font-size: 3.75em;
  }

  .past-events { 
    display: block;
  }

  .past-events-wrapper { 
    padding: 50px;
  }

  .past-events-wrapper p { 
    font-size: 1.25em;
    margin-bottom: 35px;
    margin-top: 25px;
  }

  .past-events img { 
    width: 100%;
  }
  .social-wrapper { 
    display: block;
  }

}
